<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col"style="font-size:20px;">ReqID</th>
      <th scope="col"style="font-size:20px;">ReqName</th>
      <th scope="col"style="font-size:20px;">Quantity</th>
    </tr>
  </thead>
  <tbody>
    {{#each query}}
    <tr>
      <th scope="row" style="font-size:20px;">{{this.ReqID}}</th>
      <td style="font-size:20px;">{{this.ReqName}}</td>
      <td style="font-size:20px;">{{this.briefcount}}</td>
        <style>
          .fa-edit{
            color : black;
          }
          .fa-trash-alt{
            color : black;
          }
        </style>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
